{% extends "users/base.html" %}
{% block title %} VISHING MODULE 1 {% endblock title%}
{% block content %}
{% if user.is_authenticated %}


<div>
  <div class="container p-3 my-3">
    <div class="jumbotron"
      style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.61)">

      <div>
        <h2 class="display-4" style="text-transform:uppercase; color: lightblue;">Module 1: Introduction to Vishing</h2>
        <br><br><br>
        <h5 style="color: lightblue;">In the context of university students, vishing attacks may involve receiving phone
          calls from someone impersonating a trusted entity, such as a university staff member, a financial institution,
          or a technical support representative. The attacker may use various tactics, such as creating a sense of
          urgency, instilling fear, or offering enticing rewards, to trick students into disclosing their personal
          information, such as passwords, social security numbers, or banking details.</h5><br><br>
        <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
        <div class="commonninja_component pid-071b6331-1320-4c4b-bb4b-5ca3bbd5fbe8"></div>

        <h2 style="color: lightblue;">1.1 Understanding Vishing: Definition, Examples of common vishing techniques, and
          Real-life cases and their impact on victims.</h2><br>

        <h3 style="color: lightblue;">1.1.1 Definition of Vishing:</h3>
        <p style="color: lightblue;">Vishing, short for "voice phishing," is a type of cyber attack in which fraudsters
          use phone calls or voice
          communication to deceive and manipulate individuals into providing sensitive information, such as personal
          identification numbers (PINs), passwords, credit card numbers, or other financial details.
          Vishing attacks exploit the trust people often have in phone calls and manipulate them into divulging
          confidential information.</p><br><br>

        <h3 style="color: lightblue;">1.1.2 Examples of common vishing techniques:</h3>
        <p style="color: lightblue;">
          Caller ID Spoofing: Attackers can manipulate caller ID information to make it appear as if they are calling
          from a trusted organization, such as a bank or a government agency. This technique aims to gain the victim's
          trust and make them more likely to share sensitive information. <br><br>
          Impersonation: Vishing attackers may impersonate legitimate individuals, such as bank representatives,
          customer service agents, or technical support personnel. By pretending to be someone trustworthy, they attempt
          to convince victims to disclose confidential data. <br><br>
          Urgency and Fear Tactics: Vishing scams often employ tactics that create a sense of urgency or fear. For
          example, scammers may claim that there has been suspicious activity on the victim's bank account or that they
          will face legal consequences unless they provide immediate information. <br><br>
          Prize or Lottery Scams: Some vishing attacks involve the promise of winning a prize or lottery. Scammers may
          inform victims that they have won a significant sum of money but need to provide personal details or pay a fee
          to claim their prize.</p> <br><br>

        <h3 style="color: lightblue;">1.1.3 Real-life cases and their impact on victims:</h3>
        <p style="color: lightblue;">The IRS Impersonation Scam: In this vishing attack, scammers impersonate Internal
          Revenue Service (IRS) officials and call individuals, claiming that they owe taxes or penalties. They use
          aggressive tactics and threaten victims with legal action or arrest unless immediate payment is made. This
          scam has affected numerous individuals and has led to financial losses. <br><br>
          Bank Account Compromise: Attackers may call individuals, pretending to be bank representatives, and claim that
          there has been suspicious activity on their accounts. They then ask for account information or security
          credentials, which they use to gain unauthorized access and steal funds. Victims of such scams may experience
          significant financial losses and even identity theft. <br><br>
          Tech Support Scams: In tech support vishing scams, fraudsters pose as technical support personnel from
          well-known companies, such as Microsoft or Apple. They claim that the victim's computer has been compromised
          or infected with malware, and they offer assistance. However, their real intention is to gain remote access to
          the victim's device, steal personal information, or install malicious software.</p><br><br>
      </div><br><br>
      <div>
        <h2 style="color: lightblue;">1.2 Tactics Employed by Vishing Attackers: Manipulation techniques used by
          attackers, Emotional manipulation and social engineering tactics and Recognizing signs of a vishing attack
        </h2><br>

        <h3 style="color: lightblue;">1.2.1 Manipulation techniques used by attackers:</h3>
        <p style="color: lightblue;">Vishing attackers employ various manipulation techniques to deceive and manipulate
          their targets. Some common tactics include: <br><br>
          Building Trust: Attackers may create a sense of trust by impersonating someone in a position of authority or
          someone the target is familiar with, such as a bank representative, a colleague, or a government official.
          This helps lower the target's guard and makes them more likely to comply with requests. <br><br>
          Establishing Urgency: Attackers often create a sense of urgency or fear to pressure targets into taking
          immediate action. They may claim that there is a problem with the target's account, that they are at risk of
          legal consequences, or that they are eligible for a limited-time offer or prize. <br><br>
          Offering Assistance: Attackers may pose as helpful individuals, offering assistance or support with technical
          issues, account problems, or financial matters. By appearing friendly and accommodating, they aim to gain the
          target's trust and willingness to share sensitive information. <br><br>
          Exploiting Politeness and Compliance: Attackers may exploit social norms that promote politeness and
          compliance. They may use phrases like "for security purposes" or "to verify your account" to convince targets
          that sharing information is necessary and expected.</p><br><br>

        <h3 style="color: lightblue;">1.2.2 Emotional manipulation and social engineering tactics:</h3>
        <p style="color: lightblue;">Vishing attackers often employ emotional manipulation and social engineering
          tactics to manipulate their targets. Some examples include: <br><br>
          Fear and Intimidation: Attackers may use fear tactics, such as threatening legal action, financial loss, or
          reputational damage, to intimidate targets and coerce them into revealing sensitive information. <br><br>
          Sympathy and Empathy: Attackers may pretend to be in distress, appealing to the target's sympathy or empathy.
          They may claim to be experiencing personal problems, financial difficulties, or health issues to elicit an
          emotional response and gain the target's trust. <br><br>
          Authority and Importance: Attackers may assert their authority or importance to manipulate targets. They may
          claim to be calling from a higher-level department, a senior executive, or someone with insider information,
          making the target feel privileged or special and more likely to comply with requests. <br><br>
          Social Proof: Attackers may use social proof to enhance credibility. They may mention that others have already
          taken the desired action, implying that it is a common or necessary step. This creates a sense of conformity
          and makes the target more inclined to comply.</p> <br><br>

        <h3 style="color: lightblue;">1.2.3 Recognizing signs of a vishing attack::</h3>
        <p style="color: lightblue;">To protect oneself from vishing attacks, it is crucial to recognize the signs that
          indicate a potential scam. Here are some red flags to watch out for: <br><br>
          Unsolicited Calls: Be cautious if you receive a call out of the blue, especially if the caller asks for
          personal or financial information. Legitimate organizations typically do not make unsolicited calls asking for
          sensitive data. <br><br>
          Urgency and Demanding Behavior: If the caller creates a sense of urgency, pressuring you to provide
          information or take immediate action, it may be a sign of a vishing attack. Scammers often use fear and time
          pressure to manipulate victims. <br><br>
          Requests for Confidential Information: Be skeptical if the caller asks for sensitive information like your
          Social Security number, credit card details, or passwords. Legitimate organizations usually have secure
          methods for verifying your identity without asking for such information over the phone. <br><br>
          Caller ID Spoofing: If the caller ID displays a familiar or trusted organization, but something feels off or
          the call seems suspicious, it is possible that the number has been spoofed. Do not solely rely on caller ID as
          a verification method. <br><br>
          Inconsistencies or Unprofessionalism: Pay attention to inconsistencies in the caller's story, poor grammar, or
          unprofessional behavior. Legitimate organizations typically maintain professionalism and clarity</p><br><br>
      </div><br><br>
      <div>
        <p style="color: lightblue;">Real-life vishing cases have resulted in financial loss, identity theft, and
          emotional distress for victims. It is crucial to remain vigilant and exercise caution when receiving
          unsolicited calls and sharing personal information over the phone. Always verify the authenticity of the
          caller independently before providing any sensitive data.</p><br><br>
        <br>
        <h3 style="color: lightblue;">Test Your Knowledge Here</h3><br>
        <div>
          <br>
          <h3 style="color: lightblue;">Vishing Quiz 1</h3>
          <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
          <script type="text/javascript">
            var JFL_231433459442455 = new JotformFeedback({
              formId: '231433459442455',
              base: 'https://form.jotform.com/',
              windowTitle: 'Vishing Quiz 1',
              backgroundColor: '#4a90e2',
              fontColor: '#FFFFFF',
              type: '0',
              height: 500,
              width: 700,
              openOnLoad: false
            });
          </script>
          <script type="text/javascript">
            var ifr = document.getElementById("lightbox-231433459442455");
            if (ifr) {
              var src = ifr.src;
              var iframeParams = [];
              if (window.location.href && window.location.href.indexOf("?") > -1) {
                iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
              }
              if (src && src.indexOf("?") > -1) {
                iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                src = src.substr(0, src.indexOf("?"))
              }
              iframeParams.push("isIframeEmbed=1");
              ifr.src = src + "?" + iframeParams.join('&');
            }
            window.handleIFrameMessage = function (e) {
              if (typeof e.data === 'object') { return; }
              var args = e.data.split(":");
              if (args.length > 2) { iframe = document.getElementById("lightbox-" + args[(args.length - 1)]); } else { iframe = document.getElementById("lightbox"); }
              if (!iframe) { return; }
              switch (args[0]) {
                case "scrollIntoView":
                  iframe.scrollIntoView();
                  break;
                case "setHeight":
                  iframe.style.height = args[1] + "px";
                  if (!isNaN(args[1]) && parseInt(iframe.style.minHeight) > parseInt(args[1])) {
                    iframe.style.minHeight = args[1] + "px";
                  }
                  break;
                case "collapseErrorPage":
                  if (iframe.clientHeight > window.innerHeight) {
                    iframe.style.height = window.innerHeight + "px";
                  }
                  break;
                case "reloadPage":
                  window.location.reload();
                  break;
                case "loadScript":
                  if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                  var src = args[1];
                  if (args.length > 3) {
                    src = args[1] + ':' + args[2];
                  }
                  var script = document.createElement('script');
                  script.src = src;
                  script.type = 'text/javascript';
                  document.body.appendChild(script);
                  break;
                case "exitFullscreen":
                  if (window.document.exitFullscreen) window.document.exitFullscreen();
                  else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                  else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                  else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                  else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                  break;
              }
              var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
              if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
              }
            };
            window.isPermitted = function (originUrl, whitelisted_domains) {
              var url = document.createElement('a');
              url.href = originUrl;
              var hostname = url.hostname;
              var result = false;
              if (typeof hostname !== 'undefined') {
                whitelisted_domains.forEach(function (element) {
                  if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                    result = true;
                  }
                });
                return result;
              }
            };
            if (window.addEventListener) {
              window.addEventListener("message", handleIFrameMessage, false);
            } else if (window.attachEvent) {
              window.attachEvent("onmessage", handleIFrameMessage);
            }
          </script>
          <a class="btn lightbox-231433459442455" style="
                        margin-top: 16px;
                        text-transform: uppercase;
                        font-size: 14px;
                        text-decoration: none;
                        cursor: pointer;
                        display: inline-block;
                        padding: 10px;
                        font-family: inherit;
                        text-shadow: none;
                        user-select: none;
                        transition: all,.1s,ease-in;
                        background-color: #4a90e2;
                        border: 1px solid #4a90e2;
                        color: #FFFFFF;
                        ">
            VISHING QUIZ 1
          </a>
        </div><br><br>

        <div>
          <div style="float: left;">
          </div>
          <div style="float: right;">
            <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
              href="{% url 'vishing2' %}" class="btn btn-primary">GO TO VISHING MODULE 2 ☛</a><br><br>
          </div>
        </div><br><br>
      </div>
    </div>
  </div>
  {% else %}

  <meta http-equiv="refresh" content="1; url = {% url 'login' %}" />


  {% endif %}


  {% endblock content %}