{% extends "users/base.html" %}
{% block title %} IMPERSONATING MODULE 2 {% endblock title%}
{% block content %}
{% if user.is_authenticated %}



<div>
    <div class="container p-3 my-3">
        <div class="jumbotron"
            style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.61)">

            <h2 class="display-4" style="text-transform:uppercase; color: lightblue;">Module 2: Identifying
                Impersonation Attempts:</h2><br><br><br>
            <h2 style="color: lightblue;">2.1. Identifying Impersonation Attempts
                Recognizing red flags and warning signs of impersonation,
                Identifying suspicious behavior and language patterns,
                Techniques for verifying identity (e.g., verifying documents, cross-checking information)</h2><br>

            <div>

                <h3 style="color: lightblue;">2.1.1 Recognizing Red Flags and Warning Signs of Impersonation:</h3>
                <p style="color: lightblue;">To identify potential impersonation attempts, it's important to be vigilant
                    and aware of the following red flags and warning signs: <br><br>
                    Unsolicited Contact: Beware of unexpected phone calls, emails, or messages from individuals claiming
                    to be someone else, especially if they ask for personal or sensitive information. <br><br>
                    Urgency or Threats: Impersonators often create a sense of urgency or use threats to pressure their
                    targets into taking immediate action or sharing confidential information. <br><br>
                    Inconsistent Information: Pay attention to inconsistencies in the information provided by the person
                    claiming to be someone else. Discrepancies in details, facts, or official documents may indicate
                    impersonation. <br><br>
                    Unusual Requests: Be cautious if someone asks for unusual or unnecessary information, such as
                    passwords, financial details, or personal identifiers. Legitimate individuals or organizations
                    typically have established protocols for handling sensitive information. <br><br>
                    Poor Grammar or Spelling: Many impersonators exhibit poor grammar, spelling mistakes, or unusual
                    language patterns in their communication, which can be a sign of fraudulent activity.</p><br><br>

                <h3 style="color: lightblue;">2.1.2 Identifying Suspicious Behavior and Language Patterns:</h3>
                <p style="color: lightblue;">Certain behavior and language patterns can help identify potential
                    impersonation attempts. Look out for the following: <br><br>
                    Excessive Flattery or Sympathy: Impersonators may use excessive flattery or sympathy to manipulate
                    their targets emotionally and gain their trust. <br><br>
                    Inconsistent or Evasive Answers: If someone avoids direct questions or provides inconsistent answers
                    when asked for verification, it may indicate an impersonation attempt. <br><br>
                    Unprofessional Conduct: Impersonators may display unprofessional behavior, such as using
                    inappropriate language or making unreasonable demands. <br><br>
                    Overreliance on Technology: Some impersonators heavily rely on technology to communicate, avoiding
                    face-to-face interactions or video calls to maintain their anonymity.</p> <br><br>

                <h3 style="color: lightblue;">2.1.3 Techniques for Verifying Identity:</h3>
                <p style="color: lightblue;">To verify someone's identity and mitigate impersonation risks, consider the
                    following techniques: <br><br>
                    Verify Documents: Request and verify official identification documents or credentials to ensure
                    their authenticity. Cross-reference the information provided with reliable sources. <br><br>
                    Cross-Check Information: Independently verify the information provided by contacting relevant
                    organizations or individuals through official channels. Avoid using contact information provided by
                    the person claiming to be someone else. <br><br>
                    Trustworthy Channels of Communication: Use trusted and secure channels of communication, such as
                    verified email addresses, official websites, or phone numbers obtained from reliable sources.
                    <br><br>
                    Face-to-Face or Video Verification: Whenever possible, arrange face-to-face meetings or video calls
                    to verify the person's identity. Visual confirmation can be more reliable than solely relying on
                    online interactions.
                </p><br><br>
            </div><br><br>
            <p style="color: lightblue;">In summary, To protect themselves, students should be cautious, verify requests
                for personal information or financial transactions, use strong passwords, enable multi-factor
                authentication, and report suspicious activities to their university's IT or security departments.</p>
            <br><br>
            <h3 style="color: lightblue;">Test Your Knowledge Here</h3><br><br>
            <div>
                <br>
                <h3 style="color: lightblue;">Impersonating Quiz 2</h3>

                <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
                <script type="text/javascript">
                    var JFL_231442504684454 = new JotformFeedback({
                        formId: '231442504684454',
                        base: 'https://form.jotform.com/',
                        windowTitle: 'Impersonating Quiz 2',
                        backgroundColor: '#4a90e2',
                        fontColor: '#FFFFFF',
                        type: '0',
                        height: 500,
                        width: 700,
                        openOnLoad: false
                    });
                </script>
                <script type="text/javascript">
                    var ifr = document.getElementById("lightbox-231442504684454");
                    if (ifr) {
                        var src = ifr.src;
                        var iframeParams = [];
                        if (window.location.href && window.location.href.indexOf("?") > -1) {
                            iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
                        }
                        if (src && src.indexOf("?") > -1) {
                            iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                            src = src.substr(0, src.indexOf("?"))
                        }
                        iframeParams.push("isIframeEmbed=1");
                        ifr.src = src + "?" + iframeParams.join('&');
                    }
                    window.handleIFrameMessage = function (e) {
                        if (typeof e.data === 'object') { return; }
                        var args = e.data.split(":");
                        if (args.length > 2) { iframe = document.getElementById("lightbox-" + args[(args.length - 1)]); } else { iframe = document.getElementById("lightbox"); }
                        if (!iframe) { return; }
                        switch (args[0]) {
                            case "scrollIntoView":
                                iframe.scrollIntoView();
                                break;
                            case "setHeight":
                                iframe.style.height = args[1] + "px";
                                if (!isNaN(args[1]) && parseInt(iframe.style.minHeight) > parseInt(args[1])) {
                                    iframe.style.minHeight = args[1] + "px";
                                }
                                break;
                            case "collapseErrorPage":
                                if (iframe.clientHeight > window.innerHeight) {
                                    iframe.style.height = window.innerHeight + "px";
                                }
                                break;
                            case "reloadPage":
                                window.location.reload();
                                break;
                            case "loadScript":
                                if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                                var src = args[1];
                                if (args.length > 3) {
                                    src = args[1] + ':' + args[2];
                                }
                                var script = document.createElement('script');
                                script.src = src;
                                script.type = 'text/javascript';
                                document.body.appendChild(script);
                                break;
                            case "exitFullscreen":
                                if (window.document.exitFullscreen) window.document.exitFullscreen();
                                else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                                else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                                else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                                else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                                break;
                        }
                        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
                        if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                            var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                            iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
                        }
                    };
                    window.isPermitted = function (originUrl, whitelisted_domains) {
                        var url = document.createElement('a');
                        url.href = originUrl;
                        var hostname = url.hostname;
                        var result = false;
                        if (typeof hostname !== 'undefined') {
                            whitelisted_domains.forEach(function (element) {
                                if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                                    result = true;
                                }
                            });
                            return result;
                        }
                    };
                    if (window.addEventListener) {
                        window.addEventListener("message", handleIFrameMessage, false);
                    } else if (window.attachEvent) {
                        window.attachEvent("onmessage", handleIFrameMessage);
                    }
                </script>
                <a class="btn lightbox-231442504684454" style="
                    margin-top: 16px;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: none;
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px;
                    font-family: inherit;
                    text-shadow: none;
                    user-select: none;
                    transition: all,.1s,ease-in;
                    background-color: #4a90e2;
                    border: 1px solid #4a90e2;
                    color: #FFFFFF;
                    ">
                    IMPERSONATING QUIZ 2
                </a>
            </div><br><br>

            <div>
                <div style="float: left;">
                    <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
                        href="{% url 'impersonating1' %}" class="btn btn-primary">☚ BACK TO IMPERSONATING MODULE
                        1</a><br><br>
                </div>
                <div style="float: right;">
                    <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
                        href="{% url 'impersonating3' %}" class="btn btn-primary">GO TO IMPERSONATING MODULE
                        3 ☛</a><br><br>
                </div>
            </div><br><br>


        </div>
    </div>
</div>
{% else %}

<meta http-equiv="refresh" content="1; url = {% url 'login' %}" />

{% endif %}
{% endblock content %}