{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
{% load static %}
<div>
    <div class="container p-3 my-3">
        <div class="jumbotron"
            style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.61)">
            <div>
                <table style="width:100%; text-align: center">
                    <tr>
                        <td>
                            <img src="{% static "users/media/septmustlogo.png" %}" alt="logo" width="200" height="200"; />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 style="color: lightblue;;" ;>SOCIAL ENGINEERING PREVENTION TRAINING MODULE FOR
                                UNIVERSITY STUDENTS</h3>
                        </td>
                    </tr>
                </table>
            </div><br>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-1 text-center">Sign Up</h3>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            {% for field in form %}
                                            <div>
                                                <p>
                                                    {{ field.label_tag }}<br> {{ field }}</p>
                                                {% if field.help_text %}
                                                <small style="display: none">{{ field.help_text }}!!</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                <p style="color: red">{{ error }}!!</p>
                                                {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-dark">Sign
                                                Up</button><br><br>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <h5>Don't have an account yet? Go to <a href="{% url 'login' %}">sign in</a></h5>
                            </div>
                        </div><br><br>
                        <h5 style="text-align: center;"><a style="color:rgb(0, 0, 0);" href="https://wa.link/m8ge0q"><i
                                    class="fa fa-fw fa-phone-square"></i>&nbsp;Contact Me On WhatsApp</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    </div>
</div>
{% endblock content %}