{% extends "users/base.html" %}
{% block title %} PHISHING TEST 2 {% endblock title%}
{% block content %}
{% load static %}
<div class="form-content my-3 p-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
          <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-1 text-center">Fake Email 2</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <div>
                <p>
                  {{ field.label_tag }}<br> {{ field }}</p>
                {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}!!</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}!!</p>
                {% endfor %}
                {% endfor %}
              </div>
              <div class="form-group mt-4 mb-0">
                <button type="submit" class="col-md-12 btn btn-dark">Submit Email</button><br><br>
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <div class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><b><br><br><br>
</div>
{% endblock content %}