{% extends "users/base.html" %}
{% block title %} PHISHING MODULE 1{% endblock title%}
{% block content %}
{% if user.is_authenticated %}


<div>
  <div class="container p-3 my-3">
    <div class="jumbotron"
      style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.80)">

      <h1 class="display-4" style="text-transform:uppercase; color: lightblue;">Module 1: Introduction to Phishing</h1>
      <br><br><br>
      <h5 style="color: lightblue;">Phishing attacks targeting university students are unfortunately common, as
        attackers often exploit their busy schedules, reliance on digital platforms, and potential lack of experience
        with such scams.</h5><br><br>
      <h2 style="color: lightblue;">1.1 Understanding Phishing: Definition, goals, and techniques used by attackers.
      </h2><br>
      <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
      <div class="commonninja_component pid-86360d20-679e-461c-bec8-7b124f22356f"></div><br><br>
      <div>

        <h3 style="color: lightblue;">1.1.1 Definition of Phishing:</h3>
        <p style="color: lightblue;">Phishing is a fraudulent practice aimed at tricking individuals into divulging
          sensitive information, such as usernames, passwords, financial details, or personal data. Attackers often
          impersonate reputable organizations or individuals through emails, messages, or websites to deceive recipients
          into taking actions that compromise their security.</p><br><br>
        <h3 style="color: lightblue;">1.1.2 Goals of Phishing Attacks:</h3>
        <p style="color: lightblue;">Phishing attacks have various objectives, including: <br><br>
          ● Stealing Financial Information: Attackers may attempt to obtain credit card details, banking credentials, or
          other financial information to commit fraud or unauthorized transactions. <br><br>
          ● Accessing Online Accounts: Phishing attacks can target login credentials for email accounts, social media
          profiles, or other online platforms to gain unauthorized access. <br><br>
          ● Distributing Malware: Attackers may use phishing emails or websites to distribute malware that can
          compromise the security of systems or networks. <br><br>
          ● Identity Theft: Phishing attacks can be a precursor to identity theft, where personal information is used to
          impersonate individuals or commit fraud.</p> <br><br>

        <h3 style="color: lightblue;">1.1.3 Techniques Used by Attackers:</h3>
        <p style="color: lightblue;">Phishing attacks employ various techniques, including: <br><br>
          ● Email Phishing: Attackers send deceptive emails that mimic reputable organizations or individuals, often
          using persuasive language and urgent requests to trick recipients into providing sensitive information or
          clicking on malicious links. <br><br>
          ● Spear Phishing: This targeted approach customizes phishing emails to appear more credible by using personal
          details or specific knowledge about the recipient, increasing the chances of success. <br><br>
          ● Pharming: Attackers manipulate DNS (Domain Name System) settings or compromise websites to redirect users to
          fraudulent websites that imitate legitimate ones, tricking users into revealing sensitive information.
          <br><br>
          ● Smishing (SMS Phishing): Attackers use text messages to deceive individuals into providing sensitive
          information or visiting malicious websites. <br><br>
          ● Vishing (Voice Phishing): This technique involves attackers using voice calls to trick individuals into
          revealing sensitive information or taking actions that compromise their security. <br><br>
          ● Social Media Phishing: Attackers exploit social media platforms to deceive users through fake profiles,
          links, or messages, aiming to obtain personal information or spread malware.
        </p><br><br>
        <h2 style="color: lightblue;">Some more explanation about Phishing attacks</h2><br>
      </div><br><br>
      <h2 style="color: lightblue;">1.2 Impacts of Phishing: The potential consequences of falling victim to phishing
        attacks.</h2><br>
      <div>
        <h3 style="color: lightblue;">1.2.1 Financial Loss:</h3>
        <p style="color: lightblue;">Falling victim to phishing attacks can lead to financial losses, including:
          <br><br>
          ● Unauthorized Transactions: Attackers may use stolen financial information to make fraudulent purchases or
          transfer funds without the victim's consent. <br><br>
          ● Compromised Bank Accounts: Phishing attacks targeting banking credentials can result in unauthorized access
          to bank accounts, allowing attackers to withdraw funds or perform malicious activities. <br><br>
          ● Fraudulent Use of Credit Card Information: Stolen credit card details can be used to make unauthorized
          transactions or create counterfeit cards, leading to financial repercussions for the victim.
        </p><br><br>

        <h3 style="color: lightblue;">1.2.2 Data Breach:</h3>
        <p style="color: lightblue;">Phishing attacks can result in a data breach, where sensitive personal information
          is exposed, leading to: <br><br>
          ● Reputational Damage: Data breaches can harm an individual's or organization's reputation, affecting trust
          and credibility among peers, employers, or clients. <br><br>
          ● Compromised Privacy: Exposed personal information can be misused for identity theft, fraud, or targeted
          attacks, impacting an individual's privacy and security.</p><br><br>


        <h3 style="color: lightblue;">1.2.3 Malware Infection:</h3>
        <p style="color: lightblue;">Phishing emails or websites often distribute malware, leading to: <br><br>
          ● Compromised Systems: Malware infections can compromise the security of computers, networks, or devices,
          giving attackers unauthorized access or control. <br><br>
          ● Further Attacks: Once malware is installed, attackers may exploit compromised systems for additional
          malicious activities, such as launching ransomware attacks or conducting further phishing campaigns.</p>
        <br><br>


        <h3 style="color: lightblue;">1.2.4 Personal and Professional Consequences: </h3>
        <p style="color: lightblue;">Falling victim to phishing attacks can have personal and professional
          ramifications, including: <br><br>
          ● Compromised Online Accounts: Attackers who gain access to online accounts can exploit them for their own
          purposes or use them to target other individuals or organizations. <br><br>
          ● Damaged Reputation: A compromised online presence, such as a hacked social media account, can lead to
          reputational damage and affect personal or professional relationships. <br><br>
          ● Academic or Professional Opportunities: Victims of phishing attacks may experience difficulties, such as
          compromised academic records or compromised access to professional resources, impacting their future
          opportunities.</p><br><br>

      </div>
      <h3 style="color: lightblue;">Test Your Knowledge Here</h3><br>
      <div>
        <br>
        <h3 style="color: lightblue;">Phishing Quiz 1</h3>
        <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
        <script type="text/javascript">
          var JFL_231423385801047 = new JotformFeedback({
            formId: '231423385801047',
            base: 'https://form.jotform.com/',
            windowTitle: 'Phishing Quiz 1',
            backgroundColor: '#4a90e2',
            fontColor: '#FFFFFF',
            type: '0',
            height: 500,
            width: 700,
            openOnLoad: false
          });
        </script>
        <script type="text/javascript">
          var ifr = document.getElementById("lightbox-231423385801047");
          if (ifr) {
            var src = ifr.src;
            var iframeParams = [];
            if (window.location.href && window.location.href.indexOf("?") > -1) {
              iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
            }
            if (src && src.indexOf("?") > -1) {
              iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
              src = src.substr(0, src.indexOf("?"))
            }
            iframeParams.push("isIframeEmbed=1");
            ifr.src = src + "?" + iframeParams.join('&');
          }
          window.handleIFrameMessage = function (e) {
            if (typeof e.data === 'object') { return; }
            var args = e.data.split(":");
            if (args.length > 2) { iframe = document.getElementById("lightbox-" + args[(args.length - 1)]); } else { iframe = document.getElementById("lightbox"); }
            if (!iframe) { return; }
            switch (args[0]) {
              case "scrollIntoView":
                iframe.scrollIntoView();
                break;
              case "setHeight":
                iframe.style.height = args[1] + "px";
                if (!isNaN(args[1]) && parseInt(iframe.style.minHeight) > parseInt(args[1])) {
                  iframe.style.minHeight = args[1] + "px";
                }
                break;
              case "collapseErrorPage":
                if (iframe.clientHeight > window.innerHeight) {
                  iframe.style.height = window.innerHeight + "px";
                }
                break;
              case "reloadPage":
                window.location.reload();
                break;
              case "loadScript":
                if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                var src = args[1];
                if (args.length > 3) {
                  src = args[1] + ':' + args[2];
                }
                var script = document.createElement('script');
                script.src = src;
                script.type = 'text/javascript';
                document.body.appendChild(script);
                break;
              case "exitFullscreen":
                if (window.document.exitFullscreen) window.document.exitFullscreen();
                else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                break;
            }
            var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
            if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
              var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
              iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
            }
          };
          window.isPermitted = function (originUrl, whitelisted_domains) {
            var url = document.createElement('a');
            url.href = originUrl;
            var hostname = url.hostname;
            var result = false;
            if (typeof hostname !== 'undefined') {
              whitelisted_domains.forEach(function (element) {
                if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                  result = true;
                }
              });
              return result;
            }
          };
          if (window.addEventListener) {
            window.addEventListener("message", handleIFrameMessage, false);
          } else if (window.attachEvent) {
            window.attachEvent("onmessage", handleIFrameMessage);
          }
        </script>
        <a class="btn lightbox-231423385801047" style="
                              margin-top: 16px;
                              text-transform: uppercase;
                              font-size: 14px;
                              text-decoration: none;
                              cursor: pointer;
                              display: inline-block;
                              padding: 10px;
                              font-family: inherit;
                              text-shadow: none;
                              user-select: none;
                              transition: all,.1s,ease-in;
                              background-color: #4a90e2;
                              border: 1px solid #4a90e2;
                              color: #FFFFFF;
                              ">
          Phishing Quiz 1
        </a>
      </div><br><br>

      <div>
        <div style="float: left;">
        </div>
        <div style="float: right;">
          <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
            href="{% url 'phishing2' %}" class="btn btn-primary">GO TO PHISHING MODULE 2 ☛</a><br><br>
        </div>
      </div><br><br>


    </div>
  </div>
  {% else %}

  <meta http-equiv="refresh" content="1; url = {% url 'login' %}" />


  {% endif %}


  {% endblock content %}