{% extends "users/base.html" %}
{% block title %} PRETEXTING MODULE 1 {% endblock title%}
{% block content %}
{% if user.is_authenticated %}


<div>
    <div class="container p-3 my-3">
        <div class="jumbotron"
            style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.61)">

            <h2 class="display-4" style="text-transform:uppercase; color: lightblue;">MODULE 1: Introduction To
                Pretexting</h2><br><br><br>
            <h2 style="color: lightblue;">1.1 Introduction to Pretexting :
                Definition of pretexting,
                Why pretexting poses a significant threat,
                Real-world examples of pretexting incidents</h2><br>
            <p style="color: lightblue;">Pretexting is a deceptive technique used to manipulate individuals into
                revealing sensitive information or performing certain actions by creating a false pretext or scenario.
                It involves the art of creating a believable story or persona to deceive the target and gain their
                trust. The ultimate goal of pretexting is to obtain confidential information, such as passwords,
                financial details, or access to restricted areas or systems.
            </p><br><br>
            <div>
                <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
                <div class="commonninja_component pid-cd655e68-900a-44b1-bd20-5d839f627436"></div><br><br>
            </div><br><br>
            <div>
                <h3 style="color: lightblue;">1.1.1 Definition of pretexting</h3>
                <p style="color: lightblue;">Pretexting is a form of social engineering where an attacker fabricates a
                    fictional scenario or impersonates someone to trick individuals into divulging
                    sensitive information or granting unauthorized access. It typically involves creating a plausible
                    pretext, such as pretending to be a coworker, service provider, or authority figure,
                    to gain the target's trust and manipulate them into disclosing valuable data.</p> <br><br>

                <h3 style="color: lightblue;">1.1.2 Why pretexting poses a significant threat</h3>
                <p style="color: lightblue;">Pretexting poses a significant threat because it exploits human psychology
                    and relies on social manipulation. Unlike traditional hacking methods that
                    focus on technical vulnerabilities, pretexting targets the human element, which is often the weakest
                    link in the security chain. By capitalizing on trust, sympathy, or authority,
                    attackers can trick individuals into providing confidential information, compromising organizational
                    security, and leading to potential financial loss, identity theft, or unauthorized access.</p>
                <br><br>

                <h3 style="color: lightblue;">1.1.3 Real-world examples of pretexting incidents</h3>
                <p style="color: lightblue;">
                    Several high-profile pretexting incidents have occurred in recent years, highlighting the serious
                    threat it poses: <br><br>
                    The Hewlett-Packard (HP) pretexting scandal (2006): HP hired private investigators who used
                    pretexting techniques to obtain phone records of board members and journalists in an attempt to
                    identify the source of information leaks. <br><br>
                    The "grandparent scam": Scammers often pose as distressed grandchildren in need of urgent financial
                    assistance. They exploit the emotions of elderly individuals, tricking them into wiring money or
                    providing personal information. <br><br>
                    IRS impersonation scams: Fraudsters pretend to be IRS agents and contact individuals, claiming they
                    owe back taxes. They use intimidation and threats of legal consequences to coerce victims into
                    revealing personal information or making fraudulent payments.</p> <br><br>
            </div>
            <h2 style="color: lightblue;">1.2 Common Pretexting Techniques
                Phishing and social media manipulation,
                Pretexting through phone calls and email
            </h2><br>
            <div>
                <h3 style="color: lightblue;">1.2.1 Phishing and social media manipulation: </h3>
                <p style="color: lightblue;">
                    Phishing is a prevalent form of pretexting where attackers send deceptive emails or messages,
                    pretending to be a reputable entity or service. The messages often include urgent requests to update
                    account information or verify credentials, leading victims to unwittingly provide their sensitive
                    data. <br><br>
                    Social media manipulation involves creating convincing personas or profiles on social media
                    platforms to establish trust with individuals. Attackers use these personas to gather personal
                    information, establish connections, or initiate conversations that eventually lead to pretexting
                    attacks.</p> <br><br>

                <h3 style="color: lightblue;">1.2.2 Pretexting through phone calls and email: </h3>
                <p style="color: lightblue;">
                    Attackers may use phone calls to impersonate company employees, IT support, or authority figures to
                    extract sensitive information. They might claim there is an urgent issue with the target's account
                    or request verification of personal details. <br><br>
                    Similarly, pretexting through email involves crafting convincing emails that appear to be from
                    legitimate sources. These emails often contain urgent requests, such as password resets or account
                    verifications, tricking recipients into disclosing confidential information.</p><br><br>
                <p style="color: lightblue;">Remember, maintaining a healthy level of skepticism, verifying requests,
                    and protecting your personal information are crucial in preventing pretexting attacks as a
                    university student. Stay vigilant and prioritize your online security.</p><br><br>
                <h3 style="color: lightblue;">Test Your Knowledge Here</h3><br>
                <div>
                    <br>
                    <h3 style="color: lightblue;">Pretexting Quiz 1</h3>
                    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        var JFL_231434736714456 = new JotformFeedback({
                            formId: '231434736714456',
                            base: 'https://form.jotform.com/',
                            windowTitle: 'Pretexting Quiz 1',
                            backgroundColor: '#4a90e2',
                            fontColor: '#FFFFFF',
                            type: '0',
                            height: 500,
                            width: 700,
                            openOnLoad: false
                        });
                    </script>
                    <script type="text/javascript">
                        var ifr = document.getElementById("lightbox-231434736714456");
                        if (ifr) {
                            var src = ifr.src;
                            var iframeParams = [];
                            if (window.location.href && window.location.href.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
                            }
                            if (src && src.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                                src = src.substr(0, src.indexOf("?"))
                            }
                            iframeParams.push("isIframeEmbed=1");
                            ifr.src = src + "?" + iframeParams.join('&');
                        }
                        window.handleIFrameMessage = function (e) {
                            if (typeof e.data === 'object') { return; }
                            var args = e.data.split(":");
                            if (args.length > 2) { iframe = document.getElementById("lightbox-" + args[(args.length - 1)]); } else { iframe = document.getElementById("lightbox"); }
                            if (!iframe) { return; }
                            switch (args[0]) {
                                case "scrollIntoView":
                                    iframe.scrollIntoView();
                                    break;
                                case "setHeight":
                                    iframe.style.height = args[1] + "px";
                                    if (!isNaN(args[1]) && parseInt(iframe.style.minHeight) > parseInt(args[1])) {
                                        iframe.style.minHeight = args[1] + "px";
                                    }
                                    break;
                                case "collapseErrorPage":
                                    if (iframe.clientHeight > window.innerHeight) {
                                        iframe.style.height = window.innerHeight + "px";
                                    }
                                    break;
                                case "reloadPage":
                                    window.location.reload();
                                    break;
                                case "loadScript":
                                    if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                                    var src = args[1];
                                    if (args.length > 3) {
                                        src = args[1] + ':' + args[2];
                                    }
                                    var script = document.createElement('script');
                                    script.src = src;
                                    script.type = 'text/javascript';
                                    document.body.appendChild(script);
                                    break;
                                case "exitFullscreen":
                                    if (window.document.exitFullscreen) window.document.exitFullscreen();
                                    else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                                    else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                                    else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                                    else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                                    break;
                            }
                            var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
                            if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                                var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                                iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
                            }
                        };
                        window.isPermitted = function (originUrl, whitelisted_domains) {
                            var url = document.createElement('a');
                            url.href = originUrl;
                            var hostname = url.hostname;
                            var result = false;
                            if (typeof hostname !== 'undefined') {
                                whitelisted_domains.forEach(function (element) {
                                    if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                                        result = true;
                                    }
                                });
                                return result;
                            }
                        };
                        if (window.addEventListener) {
                            window.addEventListener("message", handleIFrameMessage, false);
                        } else if (window.attachEvent) {
                            window.attachEvent("onmessage", handleIFrameMessage);
                        }
                    </script>
                    <a class="btn lightbox-231434736714456" style="
                        margin-top: 16px;
                        text-transform: uppercase;
                        font-size: 14px;
                        text-decoration: none;
                        cursor: pointer;
                        display: inline-block;
                        padding: 10px;
                        font-family: inherit;
                        text-shadow: none;
                        user-select: none;
                        transition: all,.1s,ease-in;
                        background-color: #4a90e2;
                        border: 1px solid #4a90e2;
                        color: #FFFFFF;
                        ">
                        PRETEXTING QUIZ 1
                    </a>
                </div><br><br>

                <div>
                    <div style="float: left;">
                    </div>
                    <div style="float: right;">
                        <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
                        href="{% url 'pretexting2' %}" class="btn btn-primary">GO TO PRETEXTING MODULE 2 ☛</a><br><br>
                    </div>
                  </div><br><br>
            </div>
        </div>
    </div>
</div>
{% else %}

<meta http-equiv="refresh" content="1; url = {% url 'login' %}" />

{% endif %}
{% endblock content %}