{% extends "users/base.html" %}
{% block title %} BAITING MODULE 1 {% endblock title%}
{% block content %}
{% if user.is_authenticated %}


<div>
    <div class="container p-3 my-3">
        <div class="jumbotron"
            style="text-align: justify; backdrop-filter: blur(5px); background-color: rgba(0, 0, 0, 0.61)">
            <h2 class="display-4" style="text-transform:uppercase; color: lightblue;">Module 1: Introduction To Baiting
            </h2><br><br><br>
            <h2 style="color: lightblue;">1.1 Understanding Baiting :
                Definition and types of baiting,
                Psychological manipulation techniques used in baiting,
                Common platforms and scenarios where baiting occurs</h2><br>
            <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
            <div class="commonninja_component pid-6ba75b5c-a391-44b5-8152-c2f891dc2e05"></div><br><br>
            <div>

                <h3 style="color: lightblue;">1.1.1 Definition of Baiting:</h3>
                <p style="color: lightblue;">Definition and types of baiting:
                    Baiting refers to a manipulative technique where someone deliberately provokes or entices others
                    into a specific action or response. The aim is often to exploit the target's emotions,
                    vulnerabilities, or desires for personal gain. There are various types of baiting, including:
                    <br><br>
                    Clickbait: This involves using sensational or intriguing headlines, images, or descriptions to
                    lure people into clicking on a link. Clickbait is commonly found in online articles, social media
                    posts, and advertisements. <br><br>
                    Emotional baiting: This type of baiting exploits people's emotions, such as fear, anger, or
                    sympathy, to manipulate their behavior. It often involves using emotionally charged content or
                    stories to provoke a specific reaction. <br><br>
                    Contest or reward baiting: In this form of baiting, individuals are offered the chance to win a
                    prize or receive a reward in exchange for performing a certain action. This could include sharing
                    personal information, downloading a file, or completing a survey.
                </p><br><br>
                <h3 style="color: lightblue;">1.1.2 Psychological manipulation techniques used in baiting:</h3>
                <p style="color: lightblue;">Baiting techniques rely on various psychological manipulation tactics to
                    influence the target's behavior. Some common techniques include: <br><br>
                    Fear-based manipulation: Exploiting fear to create a sense of urgency or vulnerability. This can
                    lead individuals to make impulsive decisions without considering the potential risks. <br><br>
                    Authority manipulation: Presenting oneself as an expert or a trusted figure to gain credibility and
                    influence others. This can be done by impersonating a reputable organization or using false
                    credentials. <br><br>
                    Scarcity manipulation: Creating a perception of limited availability or exclusivity to induce a
                    sense of urgency or desire. This can push individuals to act quickly without thoroughly evaluating
                    the situation.</p> <br><br>

                <h3 style="color: lightblue;">1.1.3 Common platforms and scenarios where baiting occurs:</h3>
                <p style="color: lightblue;">Baiting can occur in various online and offline platforms. Some common
                    scenarios and platforms where baiting occurs include: <br><br>
                    Social media: Baiting can take place on social media platforms through deceptive posts, fake
                    accounts, or manipulated content designed to provoke engagement or elicit personal information.
                    <br><br>
                    Phishing emails: Cybercriminals often use baiting techniques in phishing emails. They may masquerade
                    as a trustworthy entity, such as a bank or an online service, and prompt recipients to click on
                    malicious links or provide sensitive information. <br><br>
                    Online forums and chat rooms: Baiting can occur in online forums or chat rooms where individuals
                    manipulate discussions to provoke emotional responses, deceive others, or extract personal
                    information.
                </p><br><br>
                <div>
                    <br>
                    <h3 style="color: lightblue;">Baiting Quiz 1</h3>
                    <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        var JFL_231441357951456 = new JotformFeedback({
                            formId: '231441357951456',
                            base: 'https://form.jotform.com/',
                            windowTitle: 'Baiting Quiz 1',
                            backgroundColor: '#4a90e2',
                            fontColor: '#FFFFFF',
                            type: '0',
                            height: 500,
                            width: 700,
                            openOnLoad: false
                        });
                    </script>
                    <script type="text/javascript">
                        var ifr = document.getElementById("lightbox-231441357951456");
                        if (ifr) {
                            var src = ifr.src;
                            var iframeParams = [];
                            if (window.location.href && window.location.href.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
                            }
                            if (src && src.indexOf("?") > -1) {
                                iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
                                src = src.substr(0, src.indexOf("?"))
                            }
                            iframeParams.push("isIframeEmbed=1");
                            ifr.src = src + "?" + iframeParams.join('&');
                        }
                        window.handleIFrameMessage = function (e) {
                            if (typeof e.data === 'object') { return; }
                            var args = e.data.split(":");
                            if (args.length > 2) { iframe = document.getElementById("lightbox-" + args[(args.length - 1)]); } else { iframe = document.getElementById("lightbox"); }
                            if (!iframe) { return; }
                            switch (args[0]) {
                                case "scrollIntoView":
                                    iframe.scrollIntoView();
                                    break;
                                case "setHeight":
                                    iframe.style.height = args[1] + "px";
                                    if (!isNaN(args[1]) && parseInt(iframe.style.minHeight) > parseInt(args[1])) {
                                        iframe.style.minHeight = args[1] + "px";
                                    }
                                    break;
                                case "collapseErrorPage":
                                    if (iframe.clientHeight > window.innerHeight) {
                                        iframe.style.height = window.innerHeight + "px";
                                    }
                                    break;
                                case "reloadPage":
                                    window.location.reload();
                                    break;
                                case "loadScript":
                                    if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) { break; }
                                    var src = args[1];
                                    if (args.length > 3) {
                                        src = args[1] + ':' + args[2];
                                    }
                                    var script = document.createElement('script');
                                    script.src = src;
                                    script.type = 'text/javascript';
                                    document.body.appendChild(script);
                                    break;
                                case "exitFullscreen":
                                    if (window.document.exitFullscreen) window.document.exitFullscreen();
                                    else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                                    else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                                    else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                                    else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                                    break;
                            }
                            var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
                            if (isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
                                var urls = { "docurl": encodeURIComponent(document.URL), "referrer": encodeURIComponent(document.referrer) };
                                iframe.contentWindow.postMessage(JSON.stringify({ "type": "urls", "value": urls }), "*");
                            }
                        };
                        window.isPermitted = function (originUrl, whitelisted_domains) {
                            var url = document.createElement('a');
                            url.href = originUrl;
                            var hostname = url.hostname;
                            var result = false;
                            if (typeof hostname !== 'undefined') {
                                whitelisted_domains.forEach(function (element) {
                                    if (hostname.slice((-1 * element.length - 1)) === '.'.concat(element) || hostname === element) {
                                        result = true;
                                    }
                                });
                                return result;
                            }
                        };
                        if (window.addEventListener) {
                            window.addEventListener("message", handleIFrameMessage, false);
                        } else if (window.attachEvent) {
                            window.attachEvent("onmessage", handleIFrameMessage);
                        }
                    </script>
                    <a class="btn lightbox-231441357951456" style="
                        margin-top: 16px;
                        text-transform: uppercase;
                        font-size: 14px;
                        text-decoration: none;
                        cursor: pointer;
                        display: inline-block;
                        padding: 10px;
                        font-family: inherit;
                        text-shadow: none;
                        user-select: none;
                        transition: all,.1s,ease-in;
                        background-color: #4a90e2;
                        border: 1px solid #4a90e2;
                        color: #FFFFFF;
                        ">
                        BAITING QUIZ 1
                    </a>
                </div><br><br>
                <div>
                    <div style="float: left;">
                    </div>
                    <div style="float: right;">
                        <a class="btn btn-primary btn-lg" style="background-color: #11064d; border-color: black;"
                            href="{% url 'baiting2' %}" class="btn btn-primary">GO TO BAITING MODULE 2 ☛</a><br><br>
                    </div>
                </div><br><br>

            </div>
        </div>
    </div>
    {% else %}

    <meta http-equiv="refresh" content="1; url = {% url 'login' %}" />

    {% endif %}
    {% endblock content %}